.btn {
  padding: 10px 20px;
  border: 1px solid var(--text-black);
  border-radius: 2px;
  background: var(--text-black);
  color: var(--text-light);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn_reverse {
  background: var(--text-light);
  color: var(--text-black);
}

.btn_reverse:hover {
  background: var(--text-black);
  color: var(--text-light);
}

.btn_block {
  width: 100%;
  /* margin-bottom: 20px; */
}

.btn:hover {
  background: var(--text-light);
  color: var(--text-black);
}

.delete {
  background-color: var(--btn-danger);
  border: 1px solid var(--btn-danger);
}

.delete:hover {
  color: var(--btn-danger);
}

.edit {
  background-color: var(--btn-warning);
  border: 1px solid var(--btn-warning);
}

.edit:hover {
  color: var(--btn-warning);
}

.disabled {
  background-color: var(--text-grey-light);
  color: var(--text-grey-dark);
  border: none;
}
