.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn_reverse {
  background: #fff;
  color: #000;
}

.btn_reverse:hover {
  background: #000;
  color: #fff;
}

.btn_block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.delete {
  background-color: red;
  border: 1px solid red;
}

.delete:hover {
  color: red;
}

.edit {
  background-color: orange;
  border: 1px solid orange;
}

.edit:hover {
  color: orange;
}
