.card {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  background: white;
}

.card_heading {
  background: var(--text-black);
  color: var(--text-light);
  padding: 1.6rem 0;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.project {
  background-image: linear-gradient(
    to right,
    var(--primary-purple-medium),
    var(--primary-purple)
  );
  margin-bottom: 0;
}

.card_content {
  padding: 1rem;
}
