.dash_container {
  display: flex;
  height: 8rem;
  background-image: linear-gradient(
    to left,
    var(--primary-purple-light),
    var(--primary-purple)
  );
  justify-content: center;
  align-items: center;
}

.dash_container h2.text,
h3.text {
  color: var(--text-light);
  /* padding: 40px; */
  filter: drop-shadow(-2px -1px 0px rgba(137, 136, 136, 0.8))
    drop-shadow(5px 5px 5px rgba(1, 1, 1, 0.7))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.6));
}

@media (max-width: 600px) {
  .text {
    font-size: 2rem;
  }
}

.width {
  max-width: 40rem;
  margin: 0 auto;
}
