.nav_container {
  display: flex;
  max-width: 960px;
  justify-content: flex-end;
  background-image: linear-gradient(
    to left,
    var(--primary-purple-light),
    var(--primary-purple)
  );
  padding: 1rem 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--text-grey-light);
}

nav ul:last-child {
  padding-right: 1.5rem;
}

@media (max-width: 768px) {
  nav ul:last-child {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .nav_container {
    justify-content: space-around;
  }
}

.nav_item a {
  margin-right: 1.4rem;
  padding-bottom: 0.2rem;
  color: var(--text-black);
  border-bottom: 2px solid transparent;
}

@media (max-width: 768px) {
  .nav_item a {
    margin-right: 0;
  }
}

.nav_item a:hover {
  border-bottom: 2px solid var(--text-light);
  color: var(--text-light);
}
